.main{
    &__exList{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 20px;
        &--exTile{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            background-color: rgb(45, 45, 45);
            border-radius: 16px;
            padding: 24px;
            min-height: 350px;
            overflow-y: auto;
            box-sizing: border-box;
            scrollbar-width: thin;
            scrollbar-color: white rgb(45, 45, 45);
            box-sizing: border-box;
        }
        &--exName{
            color: #00c3ff;
            margin: 0;
        }
        &--exDesc, &--exComment{
            width: 90%;
            border-radius: 12px;
            word-break: break-word;
            border: 2px #0098b0 solid;
            box-sizing: border-box;
        }
        &--exVideo{
            width: 30%;
            display: block;
            color: #fff;
            border: 1px solid red;
            text-decoration: none;
            border-radius: 12px;
            padding: 8px;
            box-sizing: border-box;
        }
        &--exVideo:hover{
            background-color: rgba(255, 0, 0, 0.326);
        }
        @media (min-width:1800px) {
            grid-template-columns: repeat(3, minmax(300px, 1fr));
        };
        @media (min-width:2200px) {
            grid-template-columns: repeat(4, minmax(300px, 1fr));
        };
        @media (max-width:850px) {
            grid-template-columns: minmax(300px, 1fr);
        };
    }
}

.no-content{
    color: rgb(254, 125, 125);
}
.deleteButton, .editButton{
    display: flex;
    position: absolute;
    left: calc(100% - 66px);
    top: calc(100% - 66px);
    background: none;
    width: 42px;
    height: 42px;
    padding: 8px;
    border: 2px solid red;
    border-radius: 50%;
    transition: 0.1s all;
    cursor: pointer;
}
.editButton{
    left: 24px;
    border: 2px solid #00bfff;
}
.editButton:hover{
    background-color: #00bfff72;
}
.deleteButton:hover{
    background-color: rgba(255, 0, 0, 0.346);
}