.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__addEx{
        color: #fff;
        font-size: 24px;
        min-width: 200px;
        width: 300px;
        background: none;
        border: 2px #0098b0 solid;
        border-radius: 12px;
        padding-bottom: 8px;
        cursor: pointer;
        transition: 0.2s all;
    }
    &__addEx:hover{
        background-color: #0098b090;
    }
    &__searchBar{
        color: #fff;
        background: none;
        border: 2px #0098b0 solid;
        border-radius: 12px;
        padding: 12px;
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__searchBar:hover{
        background-color: #0098b04f;
    }
    
}
.search-label{
    position: relative;
    width: 100%;
}
.searchIcon{
    position: absolute;
    top: 30%;
    left: calc(100% - 50px);
}
.img{
    transform: translateY(3px);
}
.highlight{
    display: inline;
    font-size: 3rem;
}