.main{
    &__homeFlex{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__h2{
        text-align: center;
    }
    &__description{
        margin: 0;
    }
    &__list{ 
        width: 650px;
        position: relative;
        &--point{
            width: 600px;
            list-style: none;
            padding-left: 30px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                transform: translate(0, 15%);
                width: 16px;
                height: 16px;
                background: url("../assets/bicep-icon.svg");
                background-size: contain;
            }
        }
        &::before, &::after{
            content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            top: -100%;
            left: -15%;
            transform: rotate(-45deg);
            background: url(../assets/barbell.svg) no-repeat;
            background-size: contain;
        }
        &::after{
            left: 90%;
            transform: rotate(45deg);
        }
    }
}