.nav{
    position: fixed;
    top: 0;
    background-color: #058dbe;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #fff;
    border-radius: 0 0 30px 30px;
    box-sizing: border-box;
    z-index: 2;
    &__logo{
        height: 100px;
        transition: 0.1s all;
    }
    &__logo:hover{
        transform: scale(1.1);
    }
    &__h1{
        height: 50px;
        margin: 0 20px;
        display: flex;
        align-items: center;
    }
    &__list{
        height: 100px;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 50px;
        margin: 0;
        padding: 0 20px;
        &--link{
            height: 100%;
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 10px;
            box-sizing: border-box;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 3px 3px 0 #cacaca;
            transition: 0.1s all;
        }
        &--link:hover{
            background-color: #0000004e;
        }
    }
}
.active{
    color: rgb(215, 215, 215);
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 8px #000000;
    transition: 0.2s all;
    transform: translate(4px, 4px);
}
.flex{
    display: flex;
    align-items: center;
    margin-left: 25px;
}